@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/* shared styles */
.btn-container {
    text-align: center;
}

.btn {
    border-radius: 8px;
    background: rgb(82, 195, 3);
    padding: 21px 32px 21px 32px;
    margin: 32px 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    cursor: pointer;
}

/* Hero section */
#hero {
    height: 919px;
    background-image: linear-gradient(0deg, rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content {
    width: 1023px;
}

#hero .hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin: 16px 0px;
}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0px;
}

#hero .hero-content .description {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}

/* Card Box */
#card-box {
    width: 1320px;
    margin: 170px auto; 
}

#card-box .subtitle {
    color: rgb(16, 16, 16);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    opacity: 0.6;
}

#card-box .title {
    width: 691px;
    margin: 16px 0px;
    display: flex;
    justify-content: center;


    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
}

.card-container  {
   margin-top: 48px;
   display: flex;
   justify-content: space-around;
}

.card-container .card  {
    width: 424px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 0px; 
    border-radius: 16px;
}

.card-container .card img {
    width: 100%;
}

.card .food-restaurant {
    margin-top: 32px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    padding: 14px 32px 14px 32px;
}

.card .food-offer {
    margin-top: 24px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
}
.card .description {
    margin-top: 24px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
